/*
1 - COMMON
2 - HEADER
3 - HOME CORE COMPETENCIES SECTION
4 - FOOTER
*/


/* === COMMON === */
.swiper-pagination-bullet{
  width: 7px;
  height: 7px;
  background-color: #9747FF;
  border-radius: 7px;
  opacity: 1;
  transition: width .2s ease-in-out, background-color .3s ease-in-out;
  will-change: transform;
}

.swiper-pagination-bullet:hover{
  background-color: #3C0089;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  width: 17px;
}

.navigation-arrow{
 transition: background-color .35s ease-in-out; 
}

.navigation-arrow:hover,
.navigation-arrow:focus-visible{
  background-color: #9747FF;
}

  
.navigation-arrow .arrow-right-svg,
.navigation-arrow .arrow-left-svg {
  transition: filter 0.35s ease-in-out;
}

.navigation-arrow:hover .arrow-right-svg,
.navigation-arrow:focus-visible .arrow-right-svg,
.navigation-arrow:hover .arrow-left-svg,
.navigation-arrow:focus-visible .arrow-left-svg
{
  filter: brightness(0) invert(1);
}

/* === HEADER === */

/* === HOME CORE COMPETENCIES SECTION === */

.competencies-links__link {
  transition: border-color 0.35s ease-in-out;
}

.competencies-links__link:hover,
.competencies-links__link:focus {
  border-color: rgba(151, 71, 255, 0);
}

.competencies-links__link .competencies-links__gradient {
  transition: opacity 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__gradient,
.competencies-links__link:focus .competencies-links__gradient {
  opacity: 1;
}

.competencies-links__link .competencies-links__image {
  transition: filter 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__image,
.competencies-links__link:focus .competencies-links__image {
  filter: brightness(0) invert(1);
}

.competencies-links__link .competencies-links__arrow {
  opacity: 0;
  transform: translateX(-7px) translateY(7px);
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__arrow,
.competencies-links__link:focus .competencies-links__arrow {
  opacity: 1;
  transform: translateX(0px) translateY(0px);
}

.competencies-links__link .competencies-links__title,
.competencies-links__link .paragraph__small-text {
  transition: color 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__title,
.competencies-links__link:focus .competencies-links__title {
  color: #ffffff;
}

.competencies-links__link:hover .paragraph__small-text,
.competencies-links__link:focus .paragraph__small-text {
  color: #ffffff;
}

/* === FOOTER === */

.back-to-top__arrow-box .back-to-top__hover-gradient {
  transition: opacity 0.35s ease-in-out;
}

.back-to-top__arrow-box:hover .back-to-top__hover-gradient {
  opacity: 1;
}

.back-to-top__arrow-box .back-to-top__arrow {
  transition: filter 0.35s ease-in-out;
}

.back-to-top__arrow-box:hover .back-to-top__arrow {
  filter: brightness(0) invert(1);
}

.back-to-top .back-to-top__text {
  user-select: none;
}
