/* === COMMON === */

.swiper-pagination-bullet {
  width: 2px;
  height: 2px;
  background-color: #0095F2;
  opacity: 1;
  transition: width 0.2s ease-in-out, background-color 0.3s ease-in-out;
  will-change: transform;
}

.swiper-pagination-bullet:hover {
  background-color: #3c0089;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
}

.navigation-arrow {
  transition: background-color 0.35s ease-in-out;
}

.navigation-arrow:hover,
.navigation-arrow:focus-visible {
  background-color: #0095F2;
}

.navigation-arrow .arrow-right-svg,
.navigation-arrow .arrow-left-svg {
  transition: filter 0.35s ease-in-out;
}

.navigation-arrow:hover .arrow-right-svg,
.navigation-arrow:focus-visible .arrow-right-svg,
.navigation-arrow:hover .arrow-left-svg,
.navigation-arrow:focus-visible .arrow-left-svg {
  filter: brightness(0) invert(1);
}

.w-richtext :last-child{
  margin-bottom: 0;
}

.data-scheme__collapse-box .data-scheme__collapse-hidden{
  display: none;
}

/* === SECTION INDICATOR === */

.page-section-indicator {
}

.page-section-indicator .indicator-item {
}

.page-section-indicator .indicator-item_text-wrap {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

/*
.page-section-indicator .indicator-item:hover .indicator-item_text-wrap,
.page-section-indicator
  .indicator-item:focus-visible
  .indicator-item_text-wrap,*/
.page-section-indicator .indicator-item.custom-current .indicator-item_text-wrap {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.35s ease-in-out 0s;
}

.page-section-indicator .indicator-item_text {
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

.page-section-indicator .indicator-item.custom-current .indicator-item_text{
  background-color: #0095F2;
  color:#FFFFFF;
}

.page-section-indicator .indicator-item__dot {
  transition: background-color 0.35s ease-in-out, height 0.35s ease-in-out;
}

.page-section-indicator .indicator-item:hover .indicator-item__dot,
.page-section-indicator .indicator-item:focus-visible .indicator-item__dot {
  background-color: #0095f2;
}

.page-section-indicator .indicator-item.custom-current .indicator-item__dot {
  height: 20px;
  background-color: #0095f2;
}

/* === TEAM GRID === */

.team-member-item-link .team-card-wrapper {
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1000px);
}

.team-member-item-link .team-card-image {
  transform: scale(1);
  transition: transform 0.35s ease-in-out;
}

.team-member-item-link:hover .team-card-image,
.team-member-item-link:focus .team-card-image {
  transform: scale(1.03);
}

.team-member-item-link .team-member-item-name{
  transition: color 0.35s ease-in-out;
}

.team-member-item-link:hover .team-member-item-name,
.team-member-item-link:focus .team-member-item-name{
  color: #6E50D2;
}

.bio-grid-item__text li {
  list-style: none;
  position: relative;
}

.bio-grid-item__text li:before {
  content:"";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 0.5em;
  left: 0;
  background-color: #000000;
}

/* === QUOTE STYLE 1 === */

.quote-box-style-1__quote .inner-quote-icon-wrap{
  position: relative;
}

.inner-quote-icon{
  position: absolute;
  right: -25px;
  top: 0px;
  width: 16px;
}

.inner-quote-icon svg{
  width: 100%;
}

/* === Horizontal Scheme with Navigation === */

.scheme-with-nav__item:nth-of-type(1) {
  background: linear-gradient(156.353deg, #A88BFA 0%, #6E50D2 100%);
}

.scheme-with-nav__item:nth-of-type(2) {
  background: linear-gradient(156.353deg, #6E50D2 0%, #463296 100%);
}

.scheme-with-nav__item:nth-of-type(3) {
  background: linear-gradient(156.353deg, #463296 0%, #050A32 100%);
}

.scheme-with-nav__item .scheme-with-nav__tag-wrapper,
.scheme-with-nav__item .scheme-with-nav__text-wrapper{
  opacity: 0;
  transition: opacity .25s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1000px);
}

.scheme-with-nav__item{
  width: 28%;
  flex-shrink: 0;
  flex-grow: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1000px);
}

.scheme-with-nav__item.active{
  flex-shrink: 0;
  flex-grow: 0;
  width: 44%;
}

.scheme-with-nav__item{
  transition: width .3s ease;
  user-select: none;
}

.scheme-with-nav__item.active .scheme-with-nav__tag-wrapper,
.scheme-with-nav__item.active .scheme-with-nav__text-wrapper{
  opacity: 1;
  transition: opacity .25s ease .3s;
}


.scheme-with-nav__item .scheme-with-nav__text-wrapper .scheme-with-nav__text{
  font-size: 0em;
}

.scheme-with-nav__item.active .scheme-with-nav__text-wrapper .scheme-with-nav__text{
  font-size: 1em;
}

.scheme-with-nav {
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1000px);
}

.scheme-logo-column{
  user-select: none;
}


/* Our Services */
.our-services__item {
  user-select: none;
}

.our-services__item .our-services__gradient{
  transition: opacity .35s ease-in-out;
}

.our-services__item:hover .our-services__gradient,
.our-services__item:focus-visible .our-services__gradient{
  opacity: 1;
}

.our-services__item.opened .our-services__gradient{
  opacity: 1;
}

.our-services__popup-item{
  display: none;
}

.our-services__popup-close-btn .our-services__popup-close-line1,
.our-services__popup-close-btn .our-services__popup-close-line2{
  transition: background-color .3s ease-in-out;
}

.our-services__popup-close-btn:hover .our-services__popup-close-line1,
.our-services__popup-close-btn:hover .our-services__popup-close-line2{
  background-color: #29B5E8;
}


/* === HEADER === */

@media (min-width: 992px) {
  /* DESKTOP STYLES  */
  .main-header-inner {
    transition: height 0.35s ease-in-out, background-color 0.35s ease-in-out,
      transform 0.3s ease-in-out;
  }

  .main-header-inner.header-scrolled {
    background-color: #ffffff;
  }

  .main-header-inner .main-logo-svg .cls-3 {
    transition: fill 0.35s ease-in-out;
  }

  .main-header-inner.header-scrolled .rl_navbar1_link {
    transition: color 0.35s ease-in-out;
  }

  .main-header-inner .rl_navbar1_dropdown-toggle .rl_navbar1_link-text {
    transition: color 0.25s ease;
  }

  .main-header-inner .rl_navbar1_dropdown-toggle .rl-dropdown-icon svg path {
    fill: #0095f2;
    transition: fill 0.25s ease;
  }

  .main-header-inner.header-scrolled .rl_navbar_bg {
    transition: background-color 0.35s ease-in-out;
  }

  .main-header-inner
    .rl_navbar1_dropdown-toggle[aria-expanded="true"]
    .rl_navbar1_link-text {
    color: #050a32;
  }

  .main-header-inner
    .rl_navbar1_dropdown-toggle[aria-expanded="true"]
    .rl_navbar1_link-text:hover {
    color: #7bdaff;
  }

  .main-header-inner
    .rl_navbar1_dropdown-toggle[aria-expanded="true"]
    .rl-dropdown-icon
    svg
    path {
    fill: #050a32;
  }

  .main-header-inner
    .rl_navbar1_dropdown-toggle[aria-expanded="true"]
    .rl_navbar1_link-text:hover
    .rl-dropdown-icon
    svg
    path {
    fill: #7bdaff;
  }
  .main-header-inner.header-scrolled .rl_navbar1_link {
    color: #050a32;
  }

  .main-header-inner.header-scrolled .rl_navbar1_link:hover {
    color: #7bdaff;
  }

  .main-header-inner.header-scrolled .rl_navbar_bg {
    background-color: #050a32;
  }

  .main-header-inner.header-scrolled .rl_navbar1_dropdown-link {
    color: #ffffff;
  }

  .main-header-inner.header-scrolled .rl_navbar1_dropdown-link:hover {
    color: #7bdaff;
  }

  .main-header-inner.header-scrolled
    .rl_navbar1_dropdown-toggle
    .rl_navbar1_link-text {
    color: #050a32;
  }

  .main-header-inner.header-scrolled
    .rl_navbar1_dropdown-toggle
    .rl-dropdown-icon
    svg
    path {
    fill: #050a32;
  }

  .main-header-inner.header-scrolled
    .rl_navbar1_dropdown-toggle[aria-expanded="true"]
    .rl_navbar1_link-text {
    color: #ffffff;
  }

  .main-header-inner.header-scrolled
    .rl_navbar1_dropdown-toggle[aria-expanded="true"]
    .rl_navbar1_link-text:hover {
    color: #7bdaff;
  }

  .main-header-inner.header-scrolled
    .rl_navbar1_dropdown-toggle[aria-expanded="true"]
    .rl-dropdown-icon
    svg
    path {
    fill: #ffffff;
  }

  .main-header-inner.header-scrolled
    .rl_navbar1_dropdown-toggle[aria-expanded="true"]
    .rl_navbar1_link-text:hover
    .rl-dropdown-icon
    svg
    path {
    fill: #7bdaff;
  }

  .main-header-inner.header-scrolled .rl_navbar1_link-text {
    color: #050a32;
  }

  .main-header-inner.header-scrolled .rl-dropdown-icon {
    color: #050a32;
  }

  .main-header-inner.header-scrolled .main-logo-svg .cls-3 {
    fill: #050a32;
  }
}

/* === HOME CORE COMPETENCIES SECTION === */

.competencies-links__link {
  transition: border-color 0.35s ease-in-out;
}

.competencies-links__link:hover,
.competencies-links__link:focus-visible {
  border-color: rgba(151, 71, 255, 0);
}

.competencies-links__link .competencies-links__gradient {
  transition: opacity 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__gradient,
.competencies-links__link:focus-visible .competencies-links__gradient {
  opacity: 1;
}

.competencies-links__link .competencies-links__info {
  opacity: 0;
  color: #ffffff;
  transition: opacity 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__info,
.competencies-links__link:focus-visible .competencies-links__info {
  opacity: 1;
}

.competencies-links__link .competencies-links__image {
  transition: filter 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__image,
.competencies-links__link:focus-visible .competencies-links__image {
  filter: brightness(0) invert(1);
}

.competencies-links__link .competencies-links__arrow {
  opacity: 0;
  transform: translateX(-5px) translateY(5px);
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.competencies-links__link .competencies-links__arrow .arrow-path{
  transform: skew(-20deg, -20deg);
  transform-origin: 100% 0%;
  transition: transform 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__arrow,
.competencies-links__link:focus-visible .competencies-links__arrow {
  opacity: 1;
  transform: translateX(0px) translateY(0px);
}

.competencies-links__link:hover .competencies-links__arrow .arrow-path,
.competencies-links__link:focus-visible .competencies-links__arrow .arrow-path{
  transform: skew(0deg, 0deg);
}

.competencies-links__link .competencies-links__title {
  transition: color 0.35s ease-in-out;
}

.competencies-links__link:hover .competencies-links__title,
.competencies-links__link:focus-visible .competencies-links__title {
  color: #ffffff;
}

/* === CREDENTIALS SECTION === */

.credential-item__category-filter{
  visibility: hidden;
  opacity: 0;
}

.credential-item.hidden-item{
  display: none;
}

.credential-item__head{
  user-select: none;
}

.credential-item__head .credential-item__head-background{
  transition: opacity .35s ease-in-out;
}

.credential-item__head:hover .credential-item__head-background{
  opacity: 0;
}

.credential-item.opened .credential-item__head-background{
  opacity: 0;
}

.credential-item__button{
  transition: transform .35s ease-in-out;
}

.credential-item.opened .credential-item__button{
  transform: rotate(45deg);
}

.credentials__category-item{
  transition: background-color .35s ease-in-out;
}

.credentials__category-item .credentials__category-item-text{
  transition: color .35s ease-in-out;
}

.credentials__category-item.active-category {
  background-color: #050A32;
}

.credentials__category-item.active-category .credentials__category-item-text{
  color: #FFFFFF;
}


.credential-item__body{
  display: none;
}

/* === FOOTER === */

.back-to-top__arrow-box {
  transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

.back-to-top__arrow-box:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #ffffff;
}

.back-to-top__arrow-box .back-to-top__arrow {
  transition: filter 0.35s ease-in-out;
}

.back-to-top__arrow-box:hover .back-to-top__arrow {
  filter: brightness(0) invert(1);
}

/* === News Section === */
.news-and-insights-item__link .news-and-insights-item__gradient{
  transition: opacity .35s ease-in-out;
}

.news-and-insights-item__link:hover .news-and-insights-item__gradient,
.news-and-insights-item__link:focus .news-and-insights-item__gradient{
  opacity: 1;
}

.news-and-insights-item__link .news-and-insights-item__date,
.news-and-insights-item__link .news-and-insights-item__title,
.news-and-insights-item__link .news-and-insights-item__text,
.news-and-insights-item__link .news-and-insights-item__link-title {
  transition: color .35s ease-in-out;
}


.news-and-insights-item__link:hover .news-and-insights-item__date,
.news-and-insights-item__link:focus .news-and-insights-item__date,
.news-and-insights-item__link:hover .news-and-insights-item__title,
.news-and-insights-item__link:focus .news-and-insights-item__title,
.news-and-insights-item__link:hover .news-and-insights-item__text,
.news-and-insights-item__link:focus .news-and-insights-item__text,
.news-and-insights-item__link:hover .news-and-insights-item__link-title,
.news-and-insights-item__link:focus .news-and-insights-item__link-title {
  color: #FFFFFF;
}

/* === Contact Form === */
.w-checkbox-input {
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  margin-right: -10px;
}

.contact-us-checkbox-terms{
  margin-left: 10px;
}

.contact-us-checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.contact-us-checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid #4A148C;
  border-radius: 50%;
}

.contact-us-checkbox-label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #4A148C;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.w-checkbox-input:checked + .contact-us-checkbox-label::after {
  opacity: 1;
}

.w-checkbox{
  padding-left: 0;
}